<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.8" name="overlay-test" displayname="Overlay Test">
    <description type="system">
        <author>Matt Coleman</author>
        <contact>matt@datto.com</contact>
        <specification>Image description for Fedora 36</specification>
    </description>
    <preferences>
        <version>0.0.1</version>
        <packagemanager>dnf</packagemanager>
        <locale>en_US</locale>
        <keytable>us</keytable>
        <timezone>UTC</timezone>
        <rpm-check-signatures>false</rpm-check-signatures>
        <type image="iso"
              publisher="Datto, Inc." volid="OVERLAY_TEST"
              flags="dmsquash" hybridpersistent_filesystem="ext4" hybridpersistent="true"
              firmware="efi" kernelcmdline="rd.live.overlay.overlayfs">
            <bootloader name="grub2" grub_template="grub.cfg.template" console="console" timeout="10"/>
        </type>
    </preferences>
    <users>
        <user name="root" password="example" pwdformat="plain" groups="root" home="/root"/>
    </users>

    <repository type="rpm-md" priority="1" alias="kiwi-common-boot">
        <source path="obs://Virtualization:Appliances:Builder/Fedora_36"/>
    </repository>
    <repository type="rpm-md" alias="Fedora36" sourcetype="metalink">
        <source path="https://mirrors.fedoraproject.org/metalink?repo=fedora-36&amp;arch=x86_64"/>
    </repository>
    <repository type="rpm-md" alias="Fedora36-updates" sourcetype="metalink">
        <source path="https://mirrors.fedoraproject.org/metalink?repo=updates-released-f36&amp;arch=x86_64"/>
    </repository>

    <packages type="image">
        <package name="kernel"/>

        <!-- dracut create-overlay module dependencies -->
        <package name="btrfs-progs"/>
        <package name="e2fsprogs"/>
        <package name="parted"/>
        <package name="xfsprogs"/>
    </packages>
    <packages type="iso">
        <!-- These packages are required by the Kiwi NG live environment. -->
        <package name="dracut-config-generic"/>
        <package name="dracut-live"/>
        <package name="grub2"/>
        <package name="grub2-efi-x64"/>
        <package name="grub2-efi-x64-modules"/>
        <package name="shim-x64"/>
    </packages>
    <packages type="bootstrap">
        <package name="glibc-all-langpacks"/>
        <package name="filesystem"/>
        <package name="basesystem"/>
    </packages>
</image>
